#navigation{
background-color: red;
width: 960px;
font-size: 1,2em;
color: white;
padding: 2px;
float: right
}
#lista{

float: right;

padding-right: 20px;

}

li{
    display: inline;
    padding: 5px;
}